<mat-toolbar color="primary">
  <span><img class="logo-img" src="../../../../assets/img/bi2i.png" /></span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/home">Home</button>
  <button mat-button routerLink="/contact">Contact</button>
  <span class="example-spacer"></span>
  <div class="nav-user">
    <span>K</span>
  </div>
  <button
    mat-button
    class="example-icon favorite-icon"
    arial-label="example icon-button with heart icon"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
